body {
  font-family: PT Sans, Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-header {
  min-height: 56px;
  margin-bottom: 0px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.wrapper-header-color {
  background-color: #fff;}

.main-navigation {
  position: relative;
  margin-left: 73px;
  margin-right: 73px;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  margin-bottom: 0px;
  width: 138px;
  height: 71px;
}

.main-header-logo img {
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
}

.header-navigation a {
  color: #000;
}

.header-navigation a:hover {
  color: #81b3d2;
}

.header-navigation a:active {
  color: #cacaca;
}

.info-current {
  color: #766357;
}

.header-navigation li {
  display: flex;
  align-items: center;
  width: 250px;
  min-height: 56px;
}

.header-navigation li:nth-child(3),
.header-navigation li:nth-child(4) {
  justify-content: flex-end;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-around;
}

.main-title {
  background: #dceaf3 url("../img/background-photo.jpg") no-repeat center;
  /* Временно для сетки */
  min-height: 724px;}

.main-title img {
  padding-top: 78px;
  padding-right: 370px;
}

.about {
  width: 1200px;
/* Временно для сетки */
  height: 274px;
}

.box-title {
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 219px;
}

.about-title-slogan {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 50px;
  width: 442px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.about-title-text {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 12px;
  width: 100%;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 58px;
}

.reason-list {
  list-style: none;
}

.reason-item-blue {
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  width: 400px;
  height: 256px;
}

.reason-content-list {
  list-style: none;
}

.reason-content-item {
  text-align: center;
}

.reason-item-white {
  width: 400px;
  height: 256px;
  text-align: center;
}

.reason-content-item-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700px;
}

.order-question {
  width: 1200px;
}

.order-question .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 292px;
}

.order-question-title {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 24px;
  width: 298px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 38px;
}

.order-question-text {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 37px;
  width: 436px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 55px;
}
.order-question-bottom {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 88px;
  width: 575px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
  margin-bottom: 0px;
}

.order-question-bottom:hover {
  background-color: #604e43;
}

.order-question-bottom:focus {
  background-color: #503e33;
  color: #928a85;
}

.form-container {
  display: flex;
  align-items:center;
  width:575px;
  height:480px;
  margin:0px auto;
}

.order-form {
  width: 576px;
  text-align: center;
}

.order-title {
  font-weight: 700;
  text-align: center;
}

.order-text {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 700;
  background-color: #f2f2f2;
}

.order-text:hover {
  background-color: #ebebeb;
}

.order-text:focus {
  background-color: #ffffff;
}

.order-botton-edit {
  color: #a9a9a9;
}

.order-botton-edit:hover {
  color: #000000;
}

.order-botton-edit:focus {
  color: #81b3d2;
}

.order-count-value {
  text-align: center;
  background-color: #f2f2f2;
}

.order-button {
  font-size: 21px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.oreder-button:hover {
  background-color: #fff;
  color: #fff;
}

.oreder-button:focus {
  background-color: #5496bd;
}

.main-footer {
  padding: 36px 0;
  background-color: #fff;
  margin-left: 74px;
  margin-right: 74px;

  /* Временно для сетки */
  min-height: 120px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width:1200px;
  height:120px;
  padding-left: 52px;
}

.footer-text .footer-hashtag {
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight: bold;
  height: 18px;
  width: 136px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

a .footer-text footer-phone {
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight: bold;
  height: 18px;
  width: 227px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000;
}

.container .footer-social {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-basis:400px;
  height:120px;
  margin: 0px;
}

.footer-social {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container .footer-copyright {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-basis: 400px;
  height:120px;
}

.footer-copyright {
  margin: 0px;
  padding: 0px;

}
/* Стили каталога*/
.visually-hidden {
  margin: 0;
}

.filter-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-column1 {
  width: 156;
  min-height: 215px;
}

.filter-column2 {
  width: 160;
  min-height: 215px;
}

.filter-column3 {
  width: 328;
  min-height: 215px;
}

.filter {
 background: #dceaf3 url("../img/filter-background.jpg") no-repeat center;
 height: 215px;
}

.filter-form fieldset {
 border: none;
}

.filter-form legend {
 font-size: 16px;
 line-height: 21px;
 text-align: center;
}

.filter-title {
 color: #fff;
 text-align: center;
}

.filter-form ul {
 list-style: none;
 line-height: 31px;
 color: #fff;
}

.filter-button {
 background-color: transparent;
 text-align: center;
 color: #fff;
 vertical-align: middle;
 text-transform: uppercase;
 border: 1px solid #fff;
}

.filter-button:hover {
 background-color: #fff;
 color: #000;
}

.container-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1056px;
  height: 86px;
}

.result {
  width: 1056px;
  min-height: 86px;
  margin: 0 auto;
  margin-left: 73px;
  margin-right: 73px;
}

.container-result {
  display:flex;
  align-items:center;
  height: 89px;
  border: 1px solid #e5e5e5;

}
.result-count {
  display:flex;
  align-items:center;
  justify-content: start;
  width: 115px;
  height: 24px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;

}

.result-sort {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 78px;
  height: 13px;
  font-size: 12px;
  line-height: 18px;
  margin-left: 52px;
}

.sort-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-item-current {
  color: #81b3d2;
}

.item-icon a {
  margin-left: 73;
}

.visually-hidden {
  margin-top: 0px;
}

.catalog-item-title {
 font-size: 21px;
 line-height: 26px;
 font-weight: 700;
}

.catalog-item-title:hover {
 color: #81b3d2;
}

.catalog-item-title:active {
 color: #cacaca;
}

.catalog-item-type {
 color: #333333;
}

.catalog-item-price {
 color: #333333;
}

.catalog-item-button {
 font-size: 14px;
 line-height: 21px;
 font-weight: 400;
}

.catalog-item-button-detail {
 background-color: #81b3d2;
 vertical-align: middle;
 border: none;
 color: #ffffff;
}

.catalog-item-button-detail:hover {
 background-color: #669ec0;
 color: #ffffff;
}

.catalog-item-button-detail:active {
 background-color: #5496bd;
 color: #85b0cd;
}

.catalog-item-button {
 background-color: #766357;
 color: #ffffff;
 vertical-align: middle;
 border: none;
}

.catalog-item-button:hover {
 background-color: #604e43;
 color: #ffffff;
}

.catalog-item-button:active {
 background-color: #503e33;
 color: #928a85;
}
