body {
  font-family: PT Sans, Arial, sans-serif;
	font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.wrapper-header-color {
  background-color: #fff;}

.main-navigation {
  position: relative;
  margin-left: 73px;
  margin-right: 73px;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  margin-bottom: 0px;
  width: 138px;
  height: 71px;
}

.main-header-logo img {
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
}

.header-navigation a {
  display: block;
  color: #000;
  padding: 18px 0;
}

.header-navigation a:hover {
  color: #81b3d2;
}

.header-navigation a:active {
  color: #cacaca;
}

.info-current a {
  color: #766357;
  padding: 18px 0;
}

.header-navigation li {
  width: 25%;
}

.header-navigation li:nth-child(3),
.header-navigation li:nth-child(4) {
text-align: right;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-around;
}

.main-title {
  background: #dceaf3 url("../img/background-photo.jpg") no-repeat center;
  padding-bottom: 90px;
  padding-top: 78px;
}

.main-title img {
  display: block;
  margin: 0 auto;
}

.about-title-slogan {
  width: 442px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.about-title-text {
  width: 100%;
  text-align: center;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 58px;
  margin-top: 35px;
}

.reasons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason-item {
  display: flex;
}

.reason-item-blue {
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reason-content-item-title-blue {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 50%;
  margin: 0 auto;
}

.reason-content-item-title{
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.reason-item-number {
  display: block;
  margin: 0;
  margin-bottom: 25px;
}

.reason-item-text-blue-1 {
  max-width: 70%;
  margin: 0 auto;
}

.reason-item-text-blue-2 {
  max-width: 80%;
  margin: 0 auto;
}

.reason-content-item-text-gray {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.reasons-content-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason-item-white {
  background-color: #fff;
  text-align: center;
  width: 400px;
  padding-top: 63px;
  padding-bottom: 88px;
}

.reason-content-item-icon {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
}

.reason-item-image {
  width: 800px;
}

.reason-content-item-title-white {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.reason-content-item-text {
  max-width: 75%;
  margin: 0 auto;
}

.reason-item-gray {
  background-color: #eeeeee;
  color: #000;
  text-align: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 65px;
}

.order-question {
  width: 1200px;
  padding-top: 58px;
}

.order-question-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 38px;
  margin-top: 0;
  padding-top: 57px;
}

.order-question-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 55px;
}

.order-question-bottom {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
  margin: 0 auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 140px;
  padding-right: 140px;
}

.order-question-bottom:hover {
  background-color: #604e43;
}

.order-question-bottom:focus {
  background-color: #503e33;
  color: #928a85;
}

.form-container {
  margin: 0 auto;
  width: 575px;
}

.order-date {
  display: flex;
}

.order-title {
  font-weight: 700;
  text-align: center;
  padding-right: 21px;
  padding-left: 53px;
}

.order-text {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding-right: 229px;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.order-text:hover {
  background-color: #ebebeb;
}

.order-text:focus {
  background-color: #ffffff;
}

.order-botton-calendar {
  position: absolute;
  left: 920px;
}

.order-people {
  display: flex;
}

.order-count-value {
  border: none;
  width: 113px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.order-botton-edit {
  color: #a9a9a9;
  border: none;
}

.order-botton-edit:hover {
  color: #000000;
}

.order-botton-edit:focus {
  color: #81b3d2;
}

.order-count-value {
  text-align: center;
  background-color: #f2f2f2;
}

.order-button {
  font-size: 21px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  margin-left: 372px;
  padding-left: 198px;
  padding-right: 198px;
  padding-top: 17px;
  padding-right: 22px;
}

.oreder-button:hover {
  background-color: #fff;
  color: #fff;
}

.oreder-button:focus {
  background-color: #5496bd;
}

.main-footer .wrapper {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 32px;
  padding-left: 123px;
  padding-right: 101px;
  box-sizing: border-box;
}

.footer-text {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.footer-phone a {
  color: #000;
}

.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin: 0;
}

.footer-ccopiring {
  margin: 0;
}

.social-button {
  display: block;
  width: 48px;
  height: 48px;
}

.social-tw {
  background: #81b3d2 url(../img/twitter.svg) no-repeat;
  background-position: 50%;
}

.social-fb {
  background: #81b3d2 url(../img/fb-icon.svg) no-repeat;
  background-position: 50%;
}

.social-you {
  background: #81b3d2 url(../img/youtube.svg) no-repeat;
  background-position: 50%;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
}
/* Стили каталога*/
.filter-columns {
  display: flex;
  justify-content: space-between;
}

.filter-column1 {
  width: 156;
}

.filter-form legend {
  font-weight: 700;
}

.filter-column2 {
  width: 160;
}

.filter-column3 {
  width: 328px;
  text-align: center;
}

.box-filter {
  background: #dceaf3 url("../img/filter-background.jpg") no-repeat center;
}

.fieldset {
  border: none;
  margin: 0;
}

.filter-form fieldset {
  border: none;
  margin: 0;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.filter-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.filter-column-1 {
  flex-basis: 25%;
  align-items: flex-start;
}

.filter-column-2 {
  flex-basis: 25%;
  align-items: flex-start;
}

.filter-column-3 {
  flex-basis: 50%;
}

.filter-title {
  color: #fff;
  text-align: center;
}

.filter-form ul {
  list-style: none;
  line-height: 31px;
  color: #fff;
}

.filter-button {
  background-color: transparent;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  border: 2px solid #fff;
  width: 132px;
  margin: 0;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 33px;
}

.filter-button:hover {
  background-color: #fff;
  color: #000;
}

.container-result {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-right: 73px;
}

 .result-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  flex-basis: 165px;
}

.result-sort {
  flex-basis: 115px;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 240px;
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.sort-item-current {
  color: #81b3d2;
}

.sort-item-dotted a {
  margin: 0 auto;
  color: #b1b1b1;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.item-icon {
  margin-left: auto;
}

.icon-box {
  display: block;
  flex-flow: 1;
  text-align: right;
  margin-left: auto;
}

.visually-hidden {
  margin: 0px;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.wrapper-catalog {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-item {
  list-style: none;
}

.catalog-item {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-block1 {
  width: 135px;
  padding-left: 73px;
}

.catalog-item-block2 {
  width: 270px;
  margin-left: 27px;
  margin-right: 510px;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 17px;
  margin: 0;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:active {
  color: #cacaca;
}

.catalog-category {
  margin-right: 60px;
  color: #333333;
}

.catalog-item-price {
  color: #333333;
}

.catalog-item-button-detail {
  vertical-align: middle;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.catalog-item-button-detail:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.catalog-item-button-detail:active {
  background-color: #5496bd;
  color: #85b0cd;
}

.catalog-item-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #766357;
  color: #ffffff;
  vertical-align: middle;
  border: none;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.catalog-item-button:hover {
  background-color: #604e43;
  color: #ffffff;
}

.catalog-item-button:active {
  background-color: #503e33;
  color: #928a85;
}

.catalog-item-block3 {
  width: 112px;
  padding-right: 73px;
}

.catalog-item-icon {
  padding-top: 30px;
  padding-bottom: 43px;
}

.border-rating {
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.catalog-item-rating {
  display: inline-block;
}
